.mcq {
    background-color: #606C38; 
    color: #FEFAE0;
    display: grid;
}

.mcq-answer-option {
    height: 50px;
    cursor: pointer;
    margin: 3px;
}


.incorrect {
    border: 3px red solid;
}
.correct {
    border: 3px green solid;
}

.mcq-answer-container {
    display: grid;
    grid-template-columns: auto auto;
}

.hidden {
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    border: 3px #FEFAE0 solid;
}
    
.hidden:hover {
    border: 3px white solid;
}