.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .register-form-group {
    margin-bottom: 1rem;
  }
  
  .register-field-label {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  
  .register-user-input {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .register-submit-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #28a745; /* Green color */
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  